<div class="content-inner">
    <div class="card card-content">
      <p-toast></p-toast>
      <p-toolbar styleClass=" gap-2">
        <ng-template pTemplate="left">
            <div>
                <h5>#Invoice</h5>
            </div>
          <!-- <button
            pButton
            pRipple
            label="New"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="openNew()"
          ></button> -->
          <!-- <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteSelectedProducts()"
            [disabled]="!selectedProducts || !selectedProducts.length"
          ></button> -->
        </ng-template>
  
        <ng-template pTemplate="right" class="custom-dropdown">
          <!-- <p-fileUpload
            mode="basic"
            accept="image/*"
            [maxFileSize]="1000000"
            label="Import"
            chooseLabel="Import"
            class="mr-2 inline-block"
          ></p-fileUpload> -->
          <!-- <button pButton pRipple label="Export" icon="pi pi-upload" 
            (click)="exportToCSV()"></button> -->
  
          <p-dropdown class="dropdown-color"
            placeholder="Export"
            optionLabel="name"
          ></p-dropdown>
        </ng-template>
      </p-toolbar>
  
      <p-table
        #dataTable
        [value]="invoiceDetailsData"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['invoiceId','custName']"
        [tableStyle]="{ 'min-width': '69rem' }"
        [(selection)]="selectedProducts"
        [rowHover]="true"
        dataKey="id"
       
      >
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Invoice List :</h5>
            <span class="p-input-icon-left mt-3">
              <i class="pi pi-search"></i>
              <input
                pInputText
                #textInput
                type="text"
                (input)="dataTable.filterGlobal(textInput.value, 'contains')"
                placeholder="Search..."
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <!-- <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
            <th pSortableColumn="invoiceId" style="min-width: 10rem">
              Invoice no. <p-sortIcon field="invoiceId"></p-sortIcon>
            </th>
            <th pSortableColumn="custName" style="min-width: 5rem">
              Customer <p-sortIcon field="custName"></p-sortIcon>
            </th>
            <th>Date</th>
            <!-- <th pSortableColumn="price">
              Status <p-sortIcon field="price"></p-sortIcon>
            </th> -->
            <!-- <th pSortableColumn="category" style="min-width: 10rem">
              Actions <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="quantity">
              Quantity <p-sortIcon field="quantity"></p-sortIcon>
            </th>
            <th pSortableColumn="inventoryStatus" style="min-width: 10rem">
              Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
            </th> -->
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <!-- <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td> -->
            <td><a  target="_blank" (click)="openInvoiceInNewTab(item)" [routerLink]="['invoice-details/'+item.orderId]">
              {{ item.invoiceId }}
            </a></td>
            <td>{{item.custName}}</td>
            
            <td>{{item.invoice_date | date:'shortDate'}}</td>
          
  
<!--             
            <td>
              <p-tag
                [value]="product.inventoryStatus"
                [severity]="getSeverity(product.inventoryStatus)"

              ></p-tag>
            </td> -->
            <td>
              <!-- <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success mr-2 edit"
                (click)="editProduct(item, 'edit')"
              ></button> -->
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning edit"
                (click)="deleteProduct(item)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-container *ngIf="!invoiceDetailsData || invoiceDetailsData .length === 0">
          <ng-template pTemplate="emptymessage">
            <tr>
              <td style="color: red;" class="text-center" [attr.colspan]="6">
                No data found
              </td>
            </tr>
          </ng-template>
        </ng-container>
        <!-- <ng-container *ngIf="!products || products.length === 0">
          <ng-template pTemplate="emptymessage">
            <tr class="no-data-found-block">
              <td class="text-center no-data-found-block-info" [attr.colspan]="3">No data found</td>
            </tr>
          </ng-template>
        </ng-container> -->
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
           In total there are {{ invoiceDetailsData ? invoiceDetailsData.length : 0 }} Invoices.
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>