.slider-container {
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  .card {
    display: inline-block;
    width: 300px;
    margin-right: 10px;
  }
  
  .cards-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 1px 2px 3px 0 rgba(22, 22, 26, 0.18);

    /* box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18); */
    border: 1px solid #ccc;
    border-radius: 0;
    width:10rem;
    border-radius: 5px;
    overflow: hidden;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #eae8e8;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-sales-inventor-content{
    padding: 16px;
  }
  .sales-invertor-block{
    position: relative;
    left: 8px;
  }
  .products-wrapper-container-firstblock,
  .product-details-card{
    border-radius: 5px;
    overflow: hidden;
  }
  @media (min-width: 768px) {
    .card img {
      height: 7em;
      object-fit: cover;
    }
  }
  .table-heading{
    background-color: #cdcccc;
  }
  .card-title-1{
    font-size: 13px;
  }
  .card-title{
    font-size: 30px;
  }
  .card-text{
    font-size:15px;
  }
  .heading-tag{
    font-size: 12px;
  }
  .sales-btn{
    float: right;
    white-space: nowrap;
    /* color: green; */
    font-size: 16px;
    margin-bottom: 8px;
    /* margin-left: 416px; */
padding-top: 0px;
margin: 0px;
}
  .pieces-span{
    font-size: 15px;
  }
  .card-body{
    text-align: center;
  }
  
  .product-details-title{
    margin-bottom: 12px;
  }
  .border-hand-left-apply{
    position: relative;
  }
  .border-hand-left-apply::before{
    content: " ";
    position: absolute;
    width:1px;
    height:152px;
    background-color: #222;
    top: 37px;
    left: -20px;
}
.quantity-heading{
    color: #6aa84f;
    font-size: 28px;
}
.quantity-recived-second{
  transform: translateX(-10px);
}
/* .dropdown-menu{
    position: absolute;
    transform: translate3d(267px, 44px, 0px);
    top: 0px;
    left: -64px;
    will-change: transform;
} */
.dropdown-menu-purchase-order{
    /* position: absolute; */
    /* transform: translate3d(267px, 44px, 0px); */
    top: 0px;
    left: -64px;
    /* will-change: transform;  */
}