<div class="container">
  <div class="support-form">
    <h3 class="main-heading">Support > New ticket</h3>

    <div class="form-toggle-button-container">
      <button
        class="client-button"
        [ngStyle]="{
          'background-color': formVisibility.showClient ? '#1954f5' : '#ccc',
          color: formVisibility.showClient ? '#fff' : 'black'
        }"
        (click)="toggleForm(true, 'client')"
      >
        Client
      </button>
      <button
        class="internal-button"
        [ngStyle]="{
          'background-color': formVisibility.showClient ? '#ccc' : '#1954f5',
          color: formVisibility.showClient ? 'black' : '#fff'
        }"
        (click)="toggleForm(false, 'internal')"
      >
        Internal
      </button>
    </div>

    <div *ngIf="formVisibility.isClientFormVisible">
      <form [formGroup]="clientForm">
        <div class="form-field-1">
          <div class="client-form-fields">
            <label for="client-select-company">Select company</label>
            <select
              formControlName="company"
              (change)="onCompanyChange($event)"
            >
              <option>All</option>

              <option *ngFor="let data of companyList">{{ data.company }}</option>
            </select>
            <p
              class="invalid-error"
              *ngIf="
                clientForm.get('company')?.invalid &&
                clientForm.get('company')?.touched
              "
            >
              Company is required
            </p>
          </div>
          <div class="client-form-fields input-form">
            <label for="client-select-company">Select employee</label>
            <select formControlName="employee">
              <option>All</option>
              <option *ngFor="let data of employeesList">
                {{ data.employee }}
              </option>
            </select>
            <p
              class="invalid-error"
              *ngIf="
                clientForm.get('employee')?.invalid &&
                clientForm.get('employee')?.touched
              "
            >
              Employee is required
            </p>
          </div>
        </div>
        <div class="form-field-2">
          <div class="client-form-fields">
            <label for="client-select-company">Topic</label>
            <select formControlName="topic">
              <option *ngFor="let data of topicList">{{ data?.name }}</option>
            </select>
            <p
              class="invalid-error"
              *ngIf="
                clientForm.get('topic')?.invalid &&
                clientForm.get('topic')?.touched
              "
            >
              Topic is required
            </p>
          </div>
          <div class="client-form-fields input-form">
            <label for="client-select-company">Title</label>
            <input
              type="text"
              id="client-select-company"
              formControlName="title"
            />
            <p
              class="invalid-error"
              *ngIf="
                clientForm.get('title')?.invalid &&
                clientForm.get('title')?.touched
              "
            >
              Title is required
            </p>
          </div>
        </div>
        <div class="message-form-fields">
          <label for="message">Message</label>
          <textarea cols="40" rows="50" formControlName="message"></textarea>
          <p
            class="invalid-error"
            *ngIf="
              clientForm.get('message')?.invalid &&
              clientForm.get('message')?.touched
            "
          >
            Message is required
          </p>
        </div>
        <div class="upload-container">
          <div class="upload-box-container">
            <input type="file" id="uploadBtn" (change)="onFileChange($event)" />
            <label for="uploadBtn"
              ><i class="fa-solid fa-upload upload"></i
            ></label>
          </div>
          <div class="upload-text-container">
            <p class="upload-text">You can attach a file to the ticket</p>
            <p class="upload-text">
              --documents (.doc(x),pages,.xls(x), .numbers, .key, .pdf)
            </p>
            <p class="upload-text">--video (.mp4, .mov, .avi)</p>
            <p class="upload-text">max 20 MB</p>
          </div>
        </div>
        <div class="form-button-container">
          <button class="cancel-button" routerLink="/admin-dashboard/support">Cancel</button>
          <button
            (click)="submitForm()"
            class="btn btn-primary raise-ticket-button"
            [disabled]="clientForm.invalid"
          >
            Raise ticket
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="formVisibility.isInternalFormVisible">
      <form [formGroup]="internalForm">
        <div class="form-field-1">
          <div class="client-form-fields">
            <label for="client-select-company">Select admin</label>
            <select formControlName="admin">
              <option *ngFor="let data of adminList">{{ data.name }}</option>
            </select>
            <p
              class="invalid-error"
              *ngIf="
                internalForm.get('admin')?.invalid &&
                internalForm.get('admin')?.touched
              "
            >
              Admin is required
            </p>
          </div>
          <div class="client-form-fields input-form">
            <label for="client-select-company">Topic</label>
            <select formControlName="topic">
              <option *ngFor="let data of topicList">{{ data.name }}</option>
            </select>
            <p
              class="invalid-error"
              *ngIf="
                internalForm.get('topic')?.invalid &&
                internalForm.get('topic')?.touched
              "
            >
              Topic is required
            </p>
          </div>
        </div>
        <div class="form-field-2">
          <div class="client-form-fields input-form">
            <label for="client-select-company">Title</label>
            <input
              type="text"
              id="client-select-company"
              formControlName="title"
            />
            <p
              class="invalid-error"
              *ngIf="
                internalForm.get('title')?.invalid &&
                internalForm.get('title')?.touched
              "
            >
              Title is required
            </p>
          </div>
        </div>
        <div class="message-form-fields">
          <label for="message">Message</label>
          <textarea cols="40" rows="50" formControlName="message"></textarea>
          <p
            class="invalid-error"
            *ngIf="
              internalForm.get('message')?.invalid &&
              internalForm.get('message')?.touched
            "
          >
            Message is required
          </p>
        </div>
        <div class="upload-container">
          <div class="upload-box-container">
            <input type="file" id="uploadBtn" (change)="onFileChange($event)" />
            <label for="uploadBtn"
              ><i class="fa-solid fa-upload upload"></i
            ></label>
          </div>
          <div class="upload-text-container">
            <p class="upload-text">You can attach a file to the ticket</p>
            <p class="upload-text">
              --documents (.doc(x),pages,.xls(x), .numbers, .key, .pdf)
            </p>
            <p class="upload-text">--video (.mp4, .mov, .avi)</p>
            <p class="upload-text">max 20 MB</p>
          </div>
        </div>
        <div class="form-button-container">
          <button class="cancel-button" routerLink="/support">Cancel</button>
          <button
            [disabled]="internalForm.invalid"
            type="submit"
            (click)="submitForm()"
            class="btn btn-primary raise-ticket-button"
          >
            Raise ticket
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
