.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 1px;
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;

}
.amount-content-tax-block{
    display: flex;
    flex-direction: column;

}
.amount-content-tax-block-input-info{
    width: 56%;
}
.price-content-tax-block{
    display: flex;
    flex-direction: column;
}
.price-content-tax-block input{
    width: 56%;

}


