.container-fulid {
  width: 100% !important;
}
.content-inner {
  width: 100%;
  height: 100vh;
  background: var(--surface-ground);
}
.customer-info-card {
  box-shadow: 0px 0px 2px 0px;
  border-radius: 13px;
}
.cutomer_heading {
  color: #559192;
  border-bottom: 1px solid;
  width: fit-content;
}
.card {
  padding: 2rem;
  border-radius: 1px;
  font-family: var(--font-family);
  font-weight: normal;
  display: flex;
  background-color: #fff;
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
.amount-content-tax-block {
  display: flex;
  flex-direction: column;
}
.amount-content-tax-block-input-info {
  width: 56%;
}
.price-content-tax-block {
  display: flex;
  flex-direction: column;
}

.search-block-content {
  display: flex;
  gap: 22px;
  justify-content: center;

  margin-bottom: 1rem;
}
.tax-total-content-block {
  display: flex;
  gap: 22px;
  justify-content: center;
}
.tax-total-content-block-empty {
  width: 31%;
}

.quantity-information-content {
  width: 142px;
}
.amount-content-tax-block-input-info {
  width: 142px;
}

.buttons-order-block {
  gap: 8px;
  position: relative;
  right: -67%;
}
.price-content-tax-block input {
  width: 142px;
}
.pi-times:before {
  color: red !important;
}
.additems {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.required {
  color: red;
  font-size: medium;
  font-weight: 400;
}
.removeclass {
  border: none;
  background: none;
}

/* / tab responsive starts here / */
@media only screen and (min-width:768px) and (max-width:1028px){

  .order-wrapper h3{
    font-size: 24px;
  }
  .select-product-main-block{
    width: 46%;
  }
  .cutomer_heading{
    font-size: 20px;
  
  
  }
  .customer-info-block{
    width: 50% !important;
    font-size: 18px;
  
  }
  .orderpage-info-buttons button{
    font-size: 16px;
    }
    .select-product-main{
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .select-product-main-block{
      width: 46%;

    }
    .additems{
      justify-content: unset;
  }
}
/* / tab responsive ends here / */


/* /  mobile responsive starts here / */
@media only screen and (max-width:767px){
  .content-inner {
    height: auto;
}

  .order-wrapper h3{
  font-size: 18px;
  text-align: center;
}
.cutomer_heading{
  margin: 5px auto!important;
  text-align: center;
  font-size: 16px;


}
.customer-info-block{
  width: 50% !important;
  font-size: 15px;

}
.customer-info-card{
  padding: 0.5rem 0.75rem !important;
}
.customer-info-block-main{
  justify-content: center;
}

.orderpage-info-buttons{
  justify-content: center !important;
}
.orderpage-info-buttons button{
font-size: 13px;
}
.select-product-main{
  flex-wrap: wrap;
}
.select-product-main-block{
  width: 46%;
}
}
/* /  mobile responsive ends here / */
