
.listbox-list {
  padding: 0.75rem 0 !important;
  list-style-type: none !important;
  margin: 0 !important;
}
.listbox-item {
  margin: 0;
  padding: 0.75rem 1.25rem;
  border: 0 none;
  color: #fff;
  transition: box-shadow 0.2s;
  border-radius: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  user-select: none;
}
.sidebar-content {
  padding: 0.25rem;
  position: relative;
}

.sidenav {
  width: 10rem;
  background-color: #559192;
  top: 0;
  left: 0;
  height: 100vh !important;
 

  position: sticky;
  display: flex;
  flex-direction: column;
}

.sidenav button {
  display: block;
  width: 100%;
  padding: 8px 40px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  text-align: left;
  color: #fff;
}
.sidenav button i {
  color: #fff;
}

 
.sidenav i {
  padding-right: 12px;
  color: #fff;
}
.listbox-item a{
  color: #fff !important;
  text-decoration: none;
}
 
.invoice-icon {
  font-size: 20px;
}
.sidenav ul.dropdown {
  display: block;
}
.main-container {
  width: 100%;
  display: flex;
}
app-header {
  width: 85%;
  height: 100vh;
}
.category-button li a {
  margin-left: 140px;
}
.dropdown.dropdown-block {
  margin-left: 56px !important;
}
.dropdown-toggle::after {
  display: none !important;
}
