  <div class="sidenav">
    <div class="sidebar-content">
      <div class="list-wrapper">
        <ul class="listbox-list" >
          <li class="listbox-item">
            <i class="pi pi-home  me-2" style="font-size: 20px"></i> <a routerLink="home"> Home </a>
          </li>
          
          <li class="listbox-item">
            <i class="pi pi-th-large  me-2" style="font-size: 20px"></i>
            <a routerLink="addcategory">Category</a>
          </li>
          <li class="listbox-item">
            <i class="pi pi-users  me-2" style="font-size: 20px"></i>
            <a routerLink="customer">Customer</a>
          </li>
          <li class="listbox-item">
            <i class="pi pi-shopping-bag  me-2" style="font-size: 20px"></i>
            <a routerLink="products">Products</a>
          </li>
          <li class="listbox-item">
            <i class="pi pi-question-circle  me-2" style="font-size: 20px"></i>
            <a routerLink="support">Support</a>
          </li>
          <li class="listbox-item">
            <i class="pi pi-book  me-2" style="font-size: 20px"></i>
            <a routerLink="tax-page">Tax</a>
          </li>
          <li class="listbox-item">
            <i class="pi pi-shopping-cart  me-2" style="font-size: 20px"></i>
            <a routerLink="order">Order</a>
          </li>
          <li class="listbox-item">
            <!-- <i class="pi pi-shopping-cart  me-2" style="font-size: 20px"></i> -->
            <span class="invoice-icon">
              <i class="fas fa-file-invoice"></i>
            </span>
            <a routerLink="invoice">Invoice</a>
          </li>
    

          <hr class="mt-4 mb-2">

        </ul>
      </div>
    </div>
    
     
  </div>
 

