<div class="header-main-content">
  <div class="image-container">
    <img
      class="company-logo"
      src="https://static6.depositphotos.com/1005993/633/v/950/depositphotos_6338152-stock-illustration-real-estate-logo.jpg"
      alt=""
    />
  </div>

  <div class="dropdown">
    <button
      class="btn dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="pi pi-user" style="color: black"></i> User name
    </button>
    <div
      class="dropdown-menu dropdown-menu-first"
      aria-labelledby="dropdownMenuButton"
    >
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>
