/* .header-main-content{
    width: calc(100%-250px);

} */

.dropdown{
    float: right;
    margin: 30px;
}
.header-main-content{
    /* width: 80%; */
    height: 77px;
    display: flex;
    justify-content: space-between;
    background-color: #9fc5c6;
    /* background-color: #0d0a0b; */
    /* background-image: linear-gradient(36deg, #393636 0%, #009fc2 74%);     */
    align-items: center;
    

}

.image-container{
    width: 60px;
    height: 60px;
    margin-left: 30px;
    
    
}
.company-logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.admin-dropdown-block{
    width: 140px;
}