/* .header-main-content{
    width: calc(100%-250px);

} */

.dropdown{
    float: right;
    margin: 30px;
}
.header-main-content{
    /* width: 80%; */
    height: 77px;
    display: flex;
    justify-content: space-between;
    background-color: #9fc5c6;
    /* background-color: #0d0a0b; */
    /* background-image: linear-gradient(36deg, #393636 0%, #009fc2 74%);     */
    align-items: center;
    

}

.image-container{
    width: 60px;
    height: 60px;
    margin-left: 30px;
    
    
}
.company-logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.admin-dropdown-block{
    width: 140px;
}


/* Hamburger menu  */
.hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    padding: 16px;
    display: none;

  }
  
  .label-hamburger-menu {
    display: inline-block;
    position: relative;
    z-index: 100;
   
    cursor: pointer;
  }
  
  .bar {
    width: 24px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  #checkbox-hamburger-menu {
    display: none;
  }
  
  /* Rotate bars when the menu is open */
  #checkbox-hamburger-menu:checked ~ .label-hamburger-menu .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  #checkbox-hamburger-menu:checked ~ .label-hamburger-menu .bar:nth-child(2) {
    opacity: 0;
  }
  
  #checkbox-hamburger-menu:checked ~ .label-hamburger-menu .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
 


  /* / tab responsive starts here / */
@media only screen and (min-width:768px) and (max-width:1028px){




}
/* / tab responsive ends here / */


/* /  mobile responsive starts here / */
@media only screen and (max-width:767px){
  .hamburger-menu {

    display: block;

  }
.header-main-content{
  justify-content: space-evenly;
}
  
}
/* /  mobile responsive ends here / */
