.content-inner{
    background-color: #edecec;
    height: 100vh;
    
}
.main-wrapper {
    border: #559192 1px solid;
    padding:20px;
    margin-top: 10px;
    background-color: #fff;
}

.print-button{
    margin-left:100px;
    margin-top: 20px;
    height: 30px;
    width: 100px;
    background-color: #559192;
    border: black 1px solid;
    border-radius: 5px;
   
}


.invoice-right{
    display: flex;
    float: right;
}
p{
    margin: 0px;
    padding: 0px;
}
td{
    padding: 5px;
}
th{
    padding-bottom: 5px;
}
.amount-due{
    color: red;
}
.table-heading{
    background-color: #559192;
}
.table-heading th{
    font-weight: 500;
}
.total-price{
    margin-right: 40px;
}
/* .invoice-left{
    margin-left: 40px;
}
.invoice-right{
    margin-right: 40px;
} */
.card-body{
    padding: 3rem;
}
