.content-inner {
    width: 100% !important;
    overflow-y: auto;
    height: 100vh !important;
  }
  .edit {
    border-radius: 50% !important;
    height: 2rem !important;
}
.edit{
  width: 2rem !important;
  padding: 0.75rem 0 !important;
}
.p-dialog-draggable .p-dialog-header {
  padding: 8px;
}
.required{
  color: red;
}
.form-name{
  display: flex;
  justify-content:center;
  color: #2c8688
  /* align-items: center; */
}
