<div class="content-inner">
  <div class="card card-content">
    <p-toast></p-toast>
    <p-toolbar styleClass="gap-2">
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          label="New"
          icon="pi pi-plus"
          class="p-button-success mr-2"
          (click)="openNew()"
        ></button>
        <!-- <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="deleteSelectedProducts(product)"
          [disabled]="!selectedProducts || !selectedProducts.length"
        ></button> -->
      </ng-template>

      <!-- <ng-template pTemplate="right">
          <p-fileUpload
            mode="basic"
            accept="image/*"
            [maxFileSize]="1000000"
            label="Import"
            chooseLabel="Import"
            class="mr-2 inline-block"
          ></p-fileUpload>
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help"
          ></button> 
        </ng-template>-->
    </p-toolbar>

    <p-table
      #dt
      [value]="products"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="[
        'name',
        'country.name',
        'representative.name',
        'status'
      ]"
      [tableStyle]="{ 'min-width': '68rem' }"
      [(selection)]="selectedProducts"
      [rowHover]="true"
      dataKey="id"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0 category-heading">Category</h5>
          <span class="p-input-icon-left mt-3">
            <i class="pi pi-search"></i>
            <input
              pInputText
              #textInput
              type="text"
              (input)="dt.filterGlobal(textInput.value, 'contains')"
              placeholder="Search..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <!-- <th style="width: 4rem">
            <p-tableHeaderCheckbox ></p-tableHeaderCheckbox>
          </th> -->
          <th pSortableColumn="name" style="min-width: 12rem">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="inventoryStatus" style="min-width: 10rem">
            Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
          </th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-product>
        <tr>
          <!-- <td>
            <p-tableCheckbox [value]="product" (click)="multiSelected(product)"></p-tableCheckbox>
          </td> -->
          <td>{{ product.name }}</td>
          <td>
            <p-tag
              [value]="product.status"
          [severity]="getSeverity(product.status)"
            ></p-tag>
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2 edit"
              (click)="editProduct(product, 'edit')"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning edit"
              (click)="deleteProduct(product)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-container *ngIf="!products || products.length === 0">
        <ng-template pTemplate="emptymessage">
          <tr>
            <td style="color: red" class="text-center" [attr.colspan]="3">
              No data found
            </td>
          </tr>
        </ng-template>
      </ng-container>

      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          {{ products ? products.length : 0 }} Category.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [(visible)]="productDialog"
  [style]="{ width: '50vw' }"
  [modal]="true"
  styleClass="p-fluid"
  class="category-heading"
>
  <h3 class="form-name">Category Details</h3>
  <ng-template pTemplate="content">
    <form>
      <div class="field" [formGroup]="categoryForm">
        <label for="name">Name</label><span class="required">*</span>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="product.name"
          [ngClass]="{
            'is-invalid':
              categoryForm.get('name')?.invalid &&
              categoryForm.get('name')?.touched
          }"
          formControlName="name"
          
        />
        <div
          *ngIf="
            categoryForm.get('name')?.invalid &&
            categoryForm.get('name')?.touched
          "
        >
          <div
            class="p-error"
            *ngIf="categoryForm.get('name')?.hasError('required')"
          >
            Category name is required.
          </div>
          <div
            class="p-error"
            *ngIf="categoryForm.get('name')?.hasError('pattern')"
          >
            Please enter a valid Category name.
          </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      [disabled]="categoryForm.invalid"
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
