<div class="container">
  <h3 class="my-4">Support</h3>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group has-search">
        <input
          type="text"
          class="form-control searchBox mt-3"
          placeholder="Search"
        />
        <span class="fa fa-search form-control-feedback"></span>
      </div>
    </div>
    <div class="col-lg-6 mt-3">
      <div class="d-flex justify-content-end">
        <div class="dropdown">
          <p-dropdown [options]="fliters" optionLabel="name"></p-dropdown>
        </div>

        <button
          class="raiseButton ml-3"
          type="button"
          routerLink="/raise-ticket"
        >
          Raise Ticket
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-end mt-3 mx-2" style="gap: 30px">
    <button
      class="btn btn-danger filterButton"
      type="button"
      (click)="onToggle($event, '1')"
    >
      Unassigned
      <!-- <span style="background: aquamarine; border-radius: 50%">10</span> -->
    </button>
    <button
      class="btn btn-primary filterButton"
      type="button"
      (click)="onToggle($event, '2')"
    >
      All Tickets
    </button>
    <button
      class="btn btn-success filterButton"
      type="button"
      (click)="onToggle($event, '3')"
      style="background: #00875a"
    >
      Resloved
    </button>
    <button
      class="btn btn-secondary filterButton"
      type="button"
      (click)="onToggle($event, '4')"
    >
      Internal
    </button>
  </div>
  <div
    class="button-content mt-2"
    *ngFor="
      let data of fliteredData
        | paginate : { itemsPerPage: 3, currentPage: currentPage }
    "
  >
    <div class="row mx-2 align-items-center">
      <div class="col-md-6">
        <div class="d-flex" style="gap: 40px">
          <h6
            class="modalButton"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            {{ data.Title }}
          </h6>
          <h6>| {{ data.name }}</h6>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="d-flex align-items-center justify-content-end"
          style="gap: 40px"
        >
          <div *ngIf="isShow.newMessage">
            <p class="newMessage"><span class="dot"></span> New message</p>
          </div>
          <div *ngIf="isShow.resolved">
            <p class="resolvedMessage">Resolved</p>
          </div>
          <div *ngIf="isShow.search" style="position: relative">
            <input type="text" class="form-control" placeholder="Assign to" />
            <span class="fa fa-search fa-inner form-control-feedback"></span>
          </div>

          <h6>3h Ago</h6>
        </div>
      </div>
      <div class="col-lg-12 mt-1">
        <p>
          {{ data.Description }}
        </p>
      </div>
      <div class="col-md-6 mt-3">
        <p-tag value="Access settings"></p-tag>
        <p-tag class="ml-2" value="Tech"></p-tag>
      </div>
      <div class="col-md-6 mt-3">
        <div class="d-flex justify-content-end">
          <i class="pi pi-comment text-3xl" pBadge value="3"></i>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls
    (pageChange)="currentPage = $event"
  ></pagination-controls>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-7">
          <div>
            <img src="../../../assets/red_Dot.png" />
            <span class="ml-2">SB-209</span>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-4">
              <i class="fa fa-bullhorn" aria-hidden="true"></i
              ><span class="ml-2">Give feedback</span>
            </div>
            <div class="col-md-2">
              <i class="fa fa-eye" aria-hidden="true"></i>
              <span class="ml-2">12</span>
            </div>
            <div class="col-md-1">
              <!-- <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> -->
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </div>
            <div class="col-md-1">
              <i class="fa fa-share-alt" aria-hidden="true"></i>
            </div>
            <div class="col-md-1">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <!-- <div class="d-flex justify-content-between align-items-center">
            
           
               
                
                
               
         
              
            
          
          </div> -->
        </div>

        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7">
            <div class="body_title">
              <h5>Cannot the access the system</h5>
            </div>
            <div class="d-flex my-2 mx-1" style="gap: 10px">
              <span class="five-icons">
                <i class="fa fa-paperclip" aria-hidden="true"></i>
              </span>
              <span class="five-icons">
                <i class="fa fa-check-square" aria-hidden="true"></i>
              </span>
              <span class="five-icons">
                <i class="fa fa-link" aria-hidden="true"></i>
              </span>
              <span class="five-icons">
                <i class="fa fa-rocket" aria-hidden="true"></i>
              </span>
              <span class="five-icons">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              </span>
            </div>
            <div class="my-3 mx-1">
              <h6 class="mb-2">Description</h6>
              <p class="mb-3">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Accusantium suscipit hic aliquid? Quae sunt fugit,
              </p>
              <p class="mb-4">
                tempora dolor sed rerum nobis officia necessitatibus aliquam ab,
                voluptatibus nisi exercitationem ipsa doloribus architecto.
              </p>
              <h6 class="mb-3">Environment</h6>
              <p>None</p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="cardd">
                  <div class="card-image">
                    <img src="../../../assets/Screenshot (73).png" alt="" />
                    <div class="overlay"></div>
                  </div>
                  <div class="card-details">
                    <p class="image_text">IMG_3596.MOV</p>
                    <p class="image_text">5 MAY 2023, 08:20 PM</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-5">
              <h6>Activity</h6>
            </div>
            <div class="row my-2">
              <div class="col-md-8">
                <span style="font-weight: bold"> Show : </span>
                <span class="activity-button ml-2"> All </span>
                <span class="ml-2 activity-button text-white bg-dark">
                  Comments
                </span>
                <span class="activity-button ml-2"> History </span>
                <span class="activity-button ml-2"> Worklogs </span>
              </div>
              <div
                class="col-md-4 d-flex justify-content-end align-items-center"
              >
                <span class="mr-2" style="font-weight: bold">Newest first</span>
                <i class="pi pi-filter" style="font-size: 1rem"></i>
              </div>
              <div class="col-md-12 mt-4 d-flex align-items-center">
                <span class="user_name mr-3"> SS </span>
                <textarea
                  rows="1"
                  cols="100"
                  placeholder="Add a comment"
                  pInputTextarea
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div
              class=" mb-1 d-flex align-items-center justify-content-between"
            >
              <div class="filter_box" style="width: 60%;">
                <p-dropdown [options]="fliters" optionLabel="name"></p-dropdown>
              </div>
              <div class=" position-relative" style="width: 38%;" >
                <p-dropdown [options]="fliters" optionLabel="name"></p-dropdown>
              </div>
            </div>
            <div class="accordian accord_area">
              <p-accordion [multiple]="true" [activeIndex]="[0]">
                <p-accordionTab header="Your pinned fields">
                  <div class="row">
                    <div class="col-md-4">
                      <span style="font-weight: 500;">
                        Labels
                      </span>
                    </div>
                    <div class="col-md-4">
                      <span style="font-weight: 400;">
                        None
                      </span>
                    </div>
                  </div>
                  
                </p-accordionTab>
                <p-accordionTab header="Details">
                  <div class="row d-flex align-items-center">
                    <div class="col-md-4">
                      <h6 style="font-weight: 500;">
                     Assignee  
                      </h6>
                      <h6 style="font-weight: 500;">
                        Reporter  
                         </h6>
                      
                    </div>
                <span class="user_name mr-1"> SS </span>
                <div class="col-md-4">
                      <h5 style="font-weight: 400;">
                        Saurabh 
                      </h5>
                      <h5 style="font-weight: 400;">
                        Saurabh 
                      </h5>
                    </div>
                  </div>
                </p-accordionTab>
                <p-accordionTab header="Header III">
                  <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus
                    qui blanditiis praesentium voluptatum deleniti atque
                    corrupti quos dolores et quas molestias excepturi sint
                    occaecati cupiditate non provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et
                    dolorum fuga. Et harum quidem rerum facilis est et expedita
                    distinctio. Nam libero tempore, cum soluta nobis est
                    eligendi optio cumque nihil impedit quo minus.
                  </p>
                </p-accordionTab>
              </p-accordion>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
