.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  
    &__title {
      font-size: 6rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  
    &__description {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  
    &__button {
      display: inline-block;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
      background-color: #007bff;
      color: #fff;
      border-radius: 4px;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  