.main_div_wrapper{
    height: calc(100vh - 171px);
    width: 100%;
}
.sidebar_main{
    width: 12%;
    height: 100%; 

}
.content-part{
    width: 88% ;
    height: 100%;
    overflow-y: auto
}
.pi-arrow-mobile{
  display: none;
}




/* tab responsive starts here */
@media only screen and (min-width:768px) and (max-width:1028px){
  .sidebar_main {
    width: 0%;
   
  }
  .sidebar_main-mobile {
    width: 100%;
  }
  .content-part{
    width: 100% ;
  }
  .pi-arrow-mobile{
    display: block;
    position: absolute;
    top: 14px;
    left: 5px;
  }
}
/* tab responsive ends here */


/*  mobile responsive starts here */
@media only screen and (max-width:767px){
 

  .sidebar_main {
    width: 0%;
   
  }
  .sidebar_main-mobile {
    width: 100%;
  }
  .content-part{
    width: 100% !important;
  }
  .pi-arrow-mobile{
    display: block;
    position: absolute;
    top: 14px;
    left: 5px;
  }
  


}
/*  mobile responsive ends here */
