.main_div_wrapper{
    height: calc(100vh - 171px);
    width: 100%;
}
.sidebar_main{
    width: 10rem;
    height: 100%; 
     /* overflow-y: auto; */
}
.content-part{
    width:calc(100% - 10rem) !important; 
    height: 100%;
    overflow-y: auto
}