  <app-header ></app-header>
  <div class="d-flex main_div_wrapper">
  <p-button class="pi-arrow-mobile" (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
    
    <div class="sidebar_main" >
     
      <app-sidebar></app-sidebar>
    </div>
    <div class="content-part">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
 
<!-- Mobile screen sidebar -->
<p-sidebar class="sidebar_main-mobile-container" [(visible)]="sidebarVisible">
  <div class="sidebar_main-mobile " >
     
    <app-sidebar></app-sidebar>
  </div>
</p-sidebar>