.main_div_wrapper{
    height: calc(100vh - 171px);
    width: 100%;
}
.sidebar_main{
    width: 12%;
    height: 100%; 

}
.content-part{
    width: 88% !important;
    height: 100%;
    overflow-y: auto
}





/* tab responsive starts here */
@media only screen and (min-width:768px) and (max-width:1028px){


}
/* tab responsive ends here */


/*  mobile responsive starts here */
@media only screen and (max-width:767px){
 
  .sidebar_main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 180px;
    z-index: 80;
    transition: all 0.5s ease;
    /* display: none; */
  

  }
  .content-part{
    width: 100% !important;
  }
 


}
/*  mobile responsive ends here */
