footer {
    background-color: #C1BBDB;
    /* background-color: #006666; */
    /* background-image: linear-gradient( #296878 0, #12B1A9);     */

    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: -60px;
    color: black;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h2 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;


}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 19px;
    font-family: sans-serif;
}



hr {
    border: 1px solid #e9c4f5;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}



.footer-bottom {
    height: 40px;
    text-align: center;
}

.footer-bottom p {
    color: purple;
    font-size: 14px;
    text-transform: capitalize;
    padding-top: 10px;
}

.footer-bottom span {
    text-transform: uppercase;
    color: #400040;
    font-weight: 200;
}

div .contacts {
    display: flex;
    /* background-color: #400040; */
    width: 100%;
    background-color: rgb(28, 45, 83);

}

div .contacts p {
    padding-left: 30px;
    font-size: 14px;
}
.company-name{
    color: #fff;
}
.company-name:hover{
  color: black;
}
/* ===================================== */
.leadgen-logo-wrapper{
   padding: 10px;

}
.leadgen-logo-wrapper .line{
    background-color: #707070;
    /* height: 1px; */
    margin: 20px 0px;
   

}
.leadgen-logo-image{
    text-align: center;
}
.leadgen-logo-image a{
    font-size: 20px;
}


.leadgen-termsconditions a{
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.leadgen-leadgen-copy span{
    
    color: black;
    text-decoration: none;
    font-size: 14px;

}
.leadgen-leadgen-copy a{
    text-decoration: none;
    color: #8f887e;
    font-size: 14px;
    
}
.leadgen-socialmedia-links a{
    /* text-align: right;
     */
     float: right;
     text-decoration: none;
    font-size: 14px;
    color: #8f887e;
    margin: 0px 10px;

}
.leadgen-termsconditions row{
    padding: 0px;
    margin: 0px;
}



/* / tab responsive starts here / */
@media only screen and (min-width:768px) and (max-width:1028px){
    .leadgen-termsconditions {
        padding: 10px 0px;
    
       justify-content: center;
    }
    .leadgen-socialmedia-links{
        display: flex;
        justify-content: center;
        padding: 10px 0px;
    }
    .leadgen-logo-wrapper{
        font-family: sans-serif;
    }
    .leadgen-logo-wrapper a,
    .leadgen-logo-wrapper span{
        font-size: 19px;
    }
    .company-title-footer{
        font-size: 22px !important;
    }

}
/* / tab responsive ends here / */


/* /  mobile responsive starts here / */
@media only screen and (max-width:767px){
.leadgen-termsconditions {
    padding: 5px 0px;

   justify-content: center;
}
.leadgen-socialmedia-links{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}
.leadgen-logo-wrapper{
    font-family: sans-serif;
}
.leadgen-logo-wrapper a,
.leadgen-logo-wrapper span{
    font-size: 13px;
}
.company-title-footer{
    font-size: 20px !important;
}

}
/* /  mobile responsive ends here / */
