<!-- <footer>
    <div class="footer-content">
        <h2>Company name</h2>
        <hr>
        <p>If there is any info it will be goes here</p>
         <ul class="socials">
            <li><a href=""></a><i class="fa fa-facebook"></i></li>
            <li><a href=""></a><i class="fa fa-twitter"></i></li>
            <li><a href=""></a><i class="fa fa-youtube"></i></li>
            <li><a href=""></a><i class="fa-brands fa-instagram"></i></li>
        </ul>
        
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 | <a href="#" class="company-name">Company name</a> | All Rights Reserved</p>
    </div>
</footer> -->
<footer class="leadgen-logo-wrapper">
  <div class="container">
    <div class="leadgen-logo-image">
      <a href="#home"> Company Name </a>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col-lg-4">
        <div class="leadgen-termsconditions d-flex text-left">
          <a href="#"><span>Privacy Policy</span></a>
          <a href="#"><span>Terms and Conditions</span></a>

          <a href="#"><span>Legal</span></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="leadgen-leadgen-copy text-center">
          <span
            >Copyright &copy;2023 | All Rights Reserved |
            <a href="#">company name</a></span
          >
        </div>
      </div>
      <div class="col-lg-4">
        <div class="leadgen-socialmedia-links text-right">
          <a href="#">
            <i class="pi pi-google" style="color: slateblue"></i>
          </a>
          <a href="#">
            <i class="pi pi-linkedin" style="color: slateblue"></i>
          </a>
          <a href="#">
            <i class="pi pi-twitter" style="color: slateblue"></i>
          </a>
          <a href="#">
            <i class="pi pi-facebook" style="color: slateblue"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
