/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


*{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  box-sizing: border-box;
}
.p-dialog-draggable .p-dialog-header {
  padding: 0px;
}
p-dialog .p-dialog-content {
  padding: 0 1rem 0rem 1rem;
}
span.ng-tns-c41-0.p-autocomplete.p-component.p-autocomplete-dd {
  width: 100%;
}
.p-dropdown.p-component {
  width: 100%;
  /* height: 45px;
  border-radius: 10px; */
}
/* span.p-tag.p-component {
    background: #eee;
    color: #000;
    width: 25%;
} */
.ml-2 .p-tag.p-component {
  background-color: rgb(44 104 250);
  width: 25%;
  color: #fff;
}
.filter_box {
  .p-dropdown.p-component {
    background: #80808036 !important;
  }
}
.accord_area {
  .p-accordion .p-accordion-header a {
    background: transparent !important;
    text-decoration: none;
    border-color: #80808036 !important ;
  }
}
.dropdown-menu-first .dropdown-item {
  padding: 0.25rem 0.5rem !important;
}
p-dialog .p-dialog-footer {
  padding: 0px 0px 0.5rem 0px !important;
}
.p-dialog-footer .p-button {
  padding: 0.3rem 1rem;
}

.form-button-container {
  padding-top: 20px;
  display: flex;
  gap: 6px;
}

/* .p-datepicker table th{
  padding-top: 20px;
}
.p-datepicker table th,
.p-datepicker table td{
  padding: 0px !important;
}
.p-datepicker table td > span {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.p-datepicker table {
  margin-top: 15px !important;
margin-bottom: 0px !important;
}
.date-input{
  gap: 5px;
}  */
.p-calendar .p-datepicker {
  position: absolute;
  width: 300px !important;
  height: 260px !important;
  overflow: auto;
  left: -50% !important;
  top: 0 !important;
}
.dialog-box .p-dialog {
  max-height: 100%;
  height: 65% !important;
}

.p-datepicker table td {
  padding: 0px !important;
}
.p-dialog-title{
  /* margin-left: 320px !important; */
  font-size: 30px !important;
  /* margin-top: 20px; */
  color: #559192;
}
app-tax-page {
  width: 100%;
}

/* .p-dialog-mask .p-dialog-content{
  height: 65vh !important;
} */
.testing {
  visibility: hidden;
  padding: 5px 0px !important;
}
.testing .p-multiselect {
  visibility: visible;
  width: 275px;
  height: 36px;
}
.p-dailog-content-info .p-dialog-content {
  padding: 0px !important;
}
.product-dropdown-block .p-autocomplete-input {
  width: 360px;
}

/* .dropdown-color .p-dropdown .p-dropdown-label.p-placeholder {
  color: white;
  background-color: red !important;
}
.dropdown-color .p-dropdown {
  background-color: red !important;
}

.dropdown-color .p-dropdown-trigger {
  color: white;
  background-color: red !important;
} */
.select-tax-block.p-inputwrapper-focus .p-dropdown-open{
  width: 142px !important;

}
.select_tax_dropdown .p-dropdown.p-component
 {
  width: 142px !important;
}
