.content-inner{
    width: 100% !important;
}
.formbold-form-input {
    padding: 9px 15px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 400;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
  }
  
  .formbold-form-input:focus {
    border:solid 1.5px #559192;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  .required{
    color: red;
  }
  .invalid-error{
    color: red;
  }
  .footer-button button{
    background-color: #559192;
    color: #fff;
}
.footer-button button :hover{
    background-color: #2c8688;
  color: #ffffff;
}
.form-heading{
    color: #559192;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 6px;
    /* padding-bottom: 20px; */
  }
  .form-fields{
    display: flex;
  }
  .p-button-text{
    height: 40px;
  }
  .edit {
    border-radius: 50% !important;
    height: 1.7rem !important;
  }
  .edit {
    width: 1.7rem !important;
    padding: 0.75rem 0 !important;
  }
  /* / tab responsive starts here / */
@media only screen and (min-width:768px) and (max-width:1028px){
  h5{
    font-size: 24px;
  }
  .form-fields {
    flex-direction: column;
}
.formbold-form-input {
  width: 80%;
}
.formbold-form-label{
  margin-top: 5px;
  margin-left: 0px !important;

}
#customer-button{
  margin-top:10px !important ;
  justify-content: center !important;
}
.formbold-form-input {
  margin-left: 0px !important;

}
.invalid-error{
  margin-left: 0px !important;

}
.p-button-text{
  padding: 5px 10px !important;
  font-size: 14px;
  margin-top: 5px;
}
 

}
/* / tab responsive ends here / */


/* /  mobile responsive starts here / */
@media only screen and (max-width:767px){
  h5{
    font-size: 17px;
  }
.customer-search-content{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.form-heading {
  margin-left: 5px;

  justify-content: unset;
  font-size: 18px;}
  .form-fields {
    flex-direction: column;
    text-align: center;
}
.formbold-form-input {
  width: 80%;
}
.formbold-form-label{
  margin-top: 5px;
  margin-left: 0px !important;

}
#customer-button{
  margin-top:0px !important ;
}
.formbold-form-input {
  margin-left: 0px !important;

}
.invalid-error{
  margin-left: 0px !important;

}
.p-button-text{
  padding: 5px 10px !important;
  font-size: 12px;
  margin-top: 5px;
}
 


}
/* /  mobile responsive ends here / */
